link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
style. 
  .number { float: right }
  .sof { 
    font-size: 0.5em;
  }
  .green { color: green } 
  .red { color: red } 
  .me { 
    font-size: 1.25em;
    font-weight: bold;
  }

.container
  .row
    .col-8
      h1 Drivers &nbsp;
        span.badge.badge-info.sof SOF: #{SOF}
      table.table.table-striped
        each d in driver.Drivers
          tr(class=(d.UserID === driver.DriverUserID ? 'table-info' : '' ))
            td.number #{d.CarNumber}
            td #{d.UserName} 
            td.number(class=(driver.Drivers[driver.DriverCarIdx] && d.IRating > driver.Drivers[driver.DriverCarIdx].IRating? 'green' : 'red')) #{d.IRating} 
            td #{d.LicString} 
            td #{d.ClubName}

    .col
      ul 
        each count, location in locations
          li #{location} 
            span.float-right.badge.badge #{count}
