link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
h1 itwkracing-obs

.container
  .row
    .col

  .row
    .col
      ul
        li get
          ul
            li
              a(href="/driver") /driver
            li
              a(href="/drivers") /drivers
            li
              a(href="/sponsor") /sponsor
            li
              a(href="/sponsors") /sponsors
        li post
          ul
            li 
              a(href="/sponsors") /driver

    .col
      h2 Driver
      pre
        != JSON.stringify(driver, undefined, 2) 

    .col
      h3 Sponsor Images
      ol
        each img in images
          li= img 
        else 
          p.alert.alert-warning No Sponsor Images

      h3 Ads
      ol
        each ad in ads
          li= ad
        else 
          p.alert.alert-warning No Ads