style.
    .imgContainer {
        float:left;
        width: 300px;
        height: 300px;
        text-align: center;
        vertical-align: middle;
    }
    img {
        max-width: 300px;
        max-height: 300px;
    }

.container
    .imgContainer
        img#sponsorImage(src=images[0])

    script(src="https://code.jquery.com/jquery-3.5.1.min.js")
    script.
        var images = !{JSON.stringify(images)}

        console.log(images);

        var sponsorImage = $('#sponsorImage')[0];
        var index = 0;
        function rotate() {
            index++;
            if (index >= images.length) { index=0; }
            console.log('image', images[index])
            sponsorImage.setAttribute('src', images[index])
        }
        setInterval(rotate,3000);
