style.
    .container {
        position: absolute;
        float:left;
        width: 900px;
    }
    .imgContainer {
        float:left;
        width: 300px;
        height: 300px;
        text-align: center;
        vertical-align: middle;
    }
    img {
        max-width: 300px;
        max-height: 300px;
    }
    .clearfix {
        clear:both;
    }
    hr {
        width: 100%;
        border: 1px solid black;
        margin-top: 15px;
        margin-bottom: 15px;
    }

.container
    each img, index  in images
        .imgContainer
            img(src=img)

        if index / perRow  === 0 && index != 0
            hr
            .clearfix
